/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.navbar {
  background-color: rgba(216, 77, 77, 0.85); /* Red with 85% opacity */
}


.navbar .nav-link {
  color: white !important;  /* White text for contrast */
}

.navbar .nav-link:hover {
  color: rgb(213, 19, 19) !important;  /* Lighter pink on hover */
}

.navbar-brand {
  color: white !important;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  filter: invert(1);  /* Makes the menu icon white */
}


/* Background Image for Home Page */
.bg-index {
  background: url("MOVIESSTORE/static/img/MoviesStoreBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Search Box */
.search-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
}


/* Login & Signup Forms */
.auth-container {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

/* Footer */
.ms-footer {
  background-color: #202020;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}
.ms-footer a:hover {
  color: rgba(213, 19, 19);
  text-decoration: none;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: rgb(213, 19, 19);
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}